@import "tailwindcss";
@import 'swiper/css';
@import "aos/dist/aos.css";


.hiking-slider {
    background-image: url(../src/assets/images/bgimage\ .png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  .left-about-content {
    background-image: url(../../wanderlust-frontend/src/assets/images/bgmountain.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  .travel-story {
    background-image: url(../../wanderlust-frontend/src/assets/images/column-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  .left-about-content h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 30%;
    background-color: rgb(255 160 25);
   }
   .carusel-tour {
    background-image: url(../src/assets/images/tour-item-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .count-up{
    background-image: url(../src/assets/icons/counter-bg.png);
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hiking-man {
    background-image: url(../../wanderlust-frontend/src/assets/images/hiking-man.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 90vh;
    
  }
  .hiking-man::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;

  }
  .blog-card-content{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .blog-card-content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    z-index: -1;
  }
  .blog-card-content .card-content{
   position: absolute;
   top:80%;
   left: 50%;
   transform: translate(-50%, -80%);
   }
   .destination-card::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: .6s;

   }
   .destination-card:hover:before{
    opacity: .6;
   }
   .destinations-card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: 0.6s;
   }
  .destinations-card:hover::before {
    opacity: .6;
  }
  

  


  

   